.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-item {
  display: block;
  margin-right: 50px;
}

.navigation-item :last-child {
  margin-right: 0;
}

.navigation-link-nav-accent {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-family: var(--main-font);
  color: var(--accent-color);
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link-nav {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-family: var(--main-font);
  color: var(--main-text-color);
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link-nav-accent::after {
  content: "";
  display: block;
  width: 100%;
  border-radius: 2px;
  height: 4px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: 0;
  left: 0;
}

.navigation-link-nav-accen:hover,
.navigation-link-nav-accen:focus {
  color: var(--accent-color);
}

.navigation-link-nav:hover,
.navigation-link-nav:focus {
  color: var(--accent-color);
}

.header {
  background-color: var(--main-bg-color);
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  text-decoration: none;
  color: #000;
  font-family: var(--main-font);
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  margin-right: 93px;
}

.logo-accent {
  color: var(--accent-color);
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.header__list-contact {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__group-link {
  margin-right: 50px;
}

.header__group-link:last-child {
  margin-right: 0;
}

.header__link-mail {
  text-decoration: none;
  font-family: var(--main-font);
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.header__link-phone {
  text-decoration: none;
  font-family: var(--main-font);
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.header__list-contact {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__group-link {
  margin-right: 50px;
}

.header__group-link:last-child {
  margin-right: 0;
}

.header__link-mail {
  text-decoration: none;
  font-family: var(--main-font);
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.header__link-phone {
  text-decoration: none;
  font-family: var(--main-font);
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.header__link-mail:hover,
.header__link-mail:focus {
  color: var(--accent-color);
}

.header__link-phone:hover,
.header__link-phone:focus {
  color: var(--accent-color);
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--secondary-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__icon {
  margin-right: 10px;
  fill: var(--secondary-text-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link-mail:hover .header__icon,
.header__link-mail:focus .header__icon {
  fill: var(--accent-color);
}

.header__link-phone:hover .header__icon,
.header__link-phone:focus .header__icon {
  fill: var(--accent-color);
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/Hero/Img\ Overlay.png), url(../images/Hero/bg-hero.jpg);
  background-color: var(--dark-bg-color);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__titel {
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-align: center;
  font-family: var(--main-font);
  margin-bottom: 30px;
}

.hero__button {
  margin: 0 auto;
  display: block;
  text-align: center;
  width: 216px;
  height: 50px;
  border-radius: 4px;
  background: var(--accent-color);
  color: #fff;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
.hero__button:focus {
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: #fff;
  background-color: #1875c1;
}

.backdrop {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* ===============+++++++++++++ */
.backdrop.is-hidden .modal-wrapper {
  -webkit-transform: translate(-50%, -50%) scale(0.2);
          transform: translate(-50%, -50%) scale(0.2);
}

/* ++++++++++++++++++++++++ */
.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  border-radius: 4px;
  width: 528px;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-wrapper.is-hidden {
  -webkit-transition: opacity 300ms ease-in-out 200ms, -webkit-transform 300ms ease-in-out 200ms;
  transition: opacity 300ms ease-in-out 200ms, -webkit-transform 300ms ease-in-out 200ms;
  transition: transform 300ms ease-in-out 200ms, opacity 300ms ease-in-out 200ms;
  transition: transform 300ms ease-in-out 200ms, opacity 300ms ease-in-out 200ms, -webkit-transform 300ms ease-in-out 200ms;
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid rgba(203, 195, 195, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;
}

.modal-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  fill: #000;
}

/* .modal-btn:hover,
.modal-btn:focus {
  border-color: var(--accent-color);
} */
.modal-btn:hover path,
.modal-btn:focus path {
  fill: var(--accent-color);
}

path {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  border-radius: 4px;
  width: 528px;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
}

.form__titel {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 448px;
  height: 23px;
  margin-bottom: 12px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-text-color);
}

.form__label {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

/* ===================== */
.form__input-blok {
  position: relative;
  margin-bottom: 10px;
  width: 448px;
  height: 58px;
}

.form__input {
  outline: none;
  width: 100%;
  padding: 11px 0;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover + .form__icon,
.form__input:focus + .form__icon {
  fill: var(--accent-color);
}

.form__input:focus {
  border-color: var(--accent-color);
}

.form__icon {
  position: absolute;
  top: 34px;
  left: 12px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ======================== */
.form__textarea-blok {
  margin-right: auto;
  margin-left: auto;
  /* margin-bottom: 20px; */
  width: 448px;
  /* height: 138px; */
  margin-bottom: 20px;
}

.form__textarea {
  outline: none;
  display: block;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  /* margin-bottom: 20px; */
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea:focus {
  border-color: var(--accent-color);
}

.form__textarea-label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__textarea::-webkit-input-placeholder {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.form__textarea::-moz-placeholder {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.form__textarea:-ms-input-placeholder {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.form__textarea::-ms-input-placeholder {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.form__textarea::placeholder {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

/* ++++++++++++++++++++++++++ */
.form__checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  /* appearance: none;
  position: absolute; */
}

.form__checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.form__checkbox-label-text {
  margin-left: 7px;
}

.form__checkbox-accent {
  margin-left: 4px;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: var(--accent-color);
}

.form__checkbox-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../images/icons/icon-check.svg);
  background-size: contain;
  width: 15px;
  height: 14px;
  border: 2px solid var(--dark-bg-color);
  border-radius: 4px;
  background-origin: border-box;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__checkbox-input:checked + .form__checkbox-icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

.form__checkbox-input:focus + .form__checkbox-icon {
  border-color: var(--accent-color);
}

/* +_+_+_+_++_+_++_+_++_+__++ */
.form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: auto;
  margin-left: auto;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #2196f3;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__button:hover,
.form__button:focus {
  background-color: #188ce8;
  /* outline: none; */
}

.our-activity {
  background: var(--main-bg-color);
  padding-top: 94px;
}

/* Our activity social icons */
.our-activity-icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1170px;
}

.our-activity__icon-blok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  margin-bottom: 30px;
  fill: #212121;
}

/* ================== */
.our-activity__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-activity__items:not(:last-child) {
  margin-right: 30px;
}

.our-activity__detail-item {
  width: 270px;
  height: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.our-activity__detail-text {
  font-size: 14px;
  line-height: 1.71;
  width: 270px;
  height: 72px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: var(--secondary-text-color);
  letter-spacing: 0.42px;
}

.our-activity__punctuality-item {
  width: 270px;
  height: 16px;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.our-activity__punctuality-text {
  font-size: 14px;
  line-height: 1.71;
  width: 270px;
  height: 48px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: var(--secondary-text-color);
  letter-spacing: 0.42px;
}

.our-activity__diligence-item {
  width: 270px;
  height: 16px;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.our-activity__diligence-text {
  font-size: 14px;
  line-height: 1.71;
  width: 270px;
  height: 48px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: var(--secondary-text-color);
  letter-spacing: 0.42px;
}

.our-activity__technologie-item {
  font-size: 14px;
  width: 270px;
  height: 16px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.our-activity__technologies-text {
  font-size: 14px;
  line-height: 1.71;
  width: 270px;
  height: 72px;
  color: var(--secondary-text-color);
  letter-spacing: 0.42px;
}

.our-activity-images__title {
  font-family: var(--main-font);
  text-align: center;
  color: var(--main-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.our-activity-images__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-activity-images__img-box {
  z-index: 1;
  position: relative;
  margin-right: 30px;
}

.our-activity-images__img-box:last-child {
  margin-right: 0px;
}

.our-activity-images__label {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: var(--main-font);
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.team {
  padding-top: 94px;
}

.team-name {
  margin-bottom: 10px;
}

.team-proffesion {
  margin-bottom: 16px;
}

.team__title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__team-members {
  border-radius: 0 0 4px 4px;
  width: 270px;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
  margin-right: 30px;
}

.team__team-members-info {
  padding-bottom: 30px;
  padding-top: 30px;
}

.team__team-members:last-child {
  margin-right: 0;
}

.team {
  background: var(--secondary-bg-color);
}

.team__product-designer-name {
  color: var(--main-text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.team__product-designer-profession {
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.48px;
}

.team__frontend-developer-name {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.team__frontend-developer-profession {
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.48px;
}

.team__marketing-name {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.team__marketing-profession {
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.48px;
}

.team__ul-designer-name {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.team__ul-designer-profession {
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.48px;
}

/* social links */
.team-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 206px;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
}

.team-social-link__item {
  text-align: center;
  margin-right: 10px;
}

.team-social-link__item:last-child {
  margin-right: 0;
}

.team-social-link__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link__social-link:hover,
.team-social-link__social-link:focus {
  background-color: var(--accent-color);
}

.team-social-link__members-icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link__social-link:hover .team-social-link__members-icon,
.team-social-link__social-link:focus .team-social-link__members-icon {
  fill: #fff;
}

.regular-customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.regular-customers__icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.regular-customers__item {
  width: 170px;
  height: 92px;
  margin-right: 30px;
}

.regular-customers__item:last-child {
  margin-right: 0;
}

.regular-costumers__icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-costumers__icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--secondary-text-color);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-costumers__icon-link:hover .regular-costumers__icon,
.regular-costumers-icon-link:focus .regular-costumers__icon {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  fill: var(--accent-color);
}

.regular-costumers__icon-link:hover,
.regular-costumers__icon-link:focus {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.regular-customers__titel {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-text-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--dark-bg-color);
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-main-container {
  margin-right: 70px;
}

.logo-footer {
  display: block;
  text-decoration: none;
  color: #fff;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  margin-bottom: 20px;
}

.logo-footer--accent {
  color: var(--accent-color);
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.address__footer-text {
  font-style: normal;
  color: #fff;
  letter-spacing: 0.42px;
  margin-bottom: 9px;
}

.address__footer-contacts {
  text-align: left;
}

.address__footer-item {
  margin-bottom: 9px;
}

.address__footer-item:last-child {
  margin-bottom: 0;
}

.address__footer-link {
  display: block;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  font-style: normal;
  text-decoration: none;
  width: 231px;
  height: 21px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.42px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__footer-link:hover,
.address__footer-link:focus {
  color: var(--accent-color);
}

.footer-icons {
  margin-right: 93px;
}

.footer-icons__link-title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.footer-link__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-link__footer-social-link-item {
  margin-right: 10px;
}

.footer-link__footer-social-link-item:last-child {
  margin-right: 0;
}

.footer-link__footer-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link__footer-social-link:hover,
.footer-link__footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-link__footer-social-icon {
  fill: white;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-form__mail-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--dark-bg-color);
  margin-right: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  padding-left: 16px;
  color: #fff;
  /* padding: 12px 0; */
}

.footer-form__titel {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.footer-form__mail-input::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  /* padding-left: 16px; */
}

.footer-form__mail-input::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  /* padding-left: 16px; */
}

.footer-form__mail-input:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  /* padding-left: 16px; */
}

.footer-form__mail-input::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  /* padding-left: 16px; */
}

.footer-form__mail-input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  /* padding-left: 16px; */
}

.footer-form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--accent-color);
}

.footer-form-btn__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  margin-right: 10px;
}

.portfolio-header-container {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio-logo {
  text-decoration: none;
  color: #000;
  font-family: var(--main-font);
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  margin-right: 93px;
}

.navigation__portfolio-links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__portfolio-nav-link {
  margin-right: 50px;
}

.navigation__portfolio-nav-link:last-child {
  margin-right: 0;
}

.navigation__portfolio-header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-family: var(--main-font);
  color: var(--main-text-color);
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__portfolio-header-link:hover,
.navigation__portfolio-header-link:focus {
  color: var(--accent-color);
}

.navigation__portfolio-header-link--accent {
  position: relative;
  color: var(--accent-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.navigation__portfolio-header-link--accent::after {
  content: "";
  display: block;
  width: 100%;
  border-radius: 2px;
  height: 4px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Portfolio section */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filter__item {
  margin-right: 8px;
  padding-top: 1px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 1px;
}

.filter__item:last-child {
  margin-right: 0;
}

.filter-button {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-text-color);
  background: var(--secondary-bg-color);
  border-radius: 4px;
  border: none;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  background: var(--accent-color);
  color: #fff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.filter-button--accent {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-text-color);
  border-radius: 4px;
  border: none;
  background: var(--accent-color);
  color: #fff;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 25px;
  padding-left: 25px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-items-button-accent:hover,
.filters-items-button-accent:focus {
  background: var(--accent-color);
  color: #fff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.portfolio-container {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.portfolio-card__items-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio-card__item {
  position: relative;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-card__item:nth-last-child(3n+1) {
  margin-right: 0;
}

.portfolio-card__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.portfolio-card__item-link:hover {
  display: block;
  -webkit-box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
}

.portfolio-card__item-link:focus {
  display: block;
  -webkit-box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
}

.portfolio-card__item-link {
  display: block;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card__item-title {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.portfolio-card__product-name {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  margin-bottom: 4px;
}

.portfolio-card__product {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.portfolio-card__description-blok {
  position: relative;
  overflow: hidden;
}

.portfolio-card__description {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  display: block;
  color: var(--logo-whitecolor);
  background-color: rgba(33, 150, 243, 0.8980392157);
  padding-left: 24px;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: left;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: rgba(33, 150, 243, 0.9);
  transition-property: rgba(33, 150, 243, 0.9);
}

.portfolio-card__description-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: 0.03em;
  color: #fff;
  width: 322px;
  height: 168px;
  background-color: rgba(33, 150, 243, 0.9);
}

.portfolio-card__item-link:hover .portfolio-card__description,
.portfolio-card__item-link:focus .portfolio-card__description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  visibility: 1;
}

:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-bg-color: #fff;
  --secondary-bg-color: #f5f4fa;
  --dark-bg-color: #2f303a;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
  color: var(--main-text-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}/*# sourceMappingURL=main.css.map */