.footer-icons {
    margin-right: 93px;
}

.footer-icons__link-title {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;

    margin-bottom: 20px;
}

.footer-link__list {
    display: flex;
    align-items: baseline;
}

.footer-link__footer-social-link-item {
    margin-right: 10px;
}

&:last-child {
    margin-right: 0;
}

.footer-link__footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&:hover,
&:focus {
    background-color: var(--accent-color);
}

.footer-link__footer-social-icon {
    fill: white;
}