.footer {
@media screen and (min-width: 480px) {
 padding-top: 60px;
padding-bottom: 60px;

background: var(--dark-bg-color);
}
@media screen and (min-width: 768px) {
width: 768px;
 padding-top: 60px;
padding-bottom: 60px;
background: var(--dark-bg-color);
 }
 @media screen and (min-width: 1200px) {
width: 1200px;
padding-top: 60px;
padding-bottom: 60px;
background: var(--dark-bg-color);
 }   
}

 .footer-container {
@media screen and (min-width: 480px) {
margin-right: auto;
margin-left: auto;
display: flex;
flex-direction: column;
}
@media screen and (min-width: 768px) {
margin-right: auto;
margin-left: auto;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center
 }
 @media screen and (min-width: 1200px){
display: flex;
align-items: baseline;
 }
}


 .footer-main-container {
 @media screen and (min-width: 480px) {
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 60px;
 }
 @media screen and (min-width: 768px) {
margin-right: 165px;
 }
 @media screen and (min-width: 1200px) {
 margin-right: 70px;
 }
}
.logo-footer {
    display: block;
    text-decoration: none;
    color: #fff;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;

    margin-bottom: 20px;
@media screen and (min-width: 480px) {
margin-right: auto;
margin-left: auto;
 }
}
.logo-footer--accent {
    color: var(--accent-color);
    font-family: var(--secondary-font);
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.address__footer-text {
    font-style: normal;
    color: #fff;

    letter-spacing: 0.42px;

    margin-bottom: 9px;
 @media screen and (min-width: 480px) {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 1.71429;
letter-spacing: 0.03em;
text-align: center;
color: #fff;
margin-right: auto;
margin-left: auto;
 }
}

.address__footer-contacts {
// text-align: left;
@media screen and (min-width: 480px) {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 1.71429;
letter-spacing: 0.03em;
text-align: center;
color: #fff;
margin-right: auto;
margin-left: auto;
 }
}
.address__footer-item {
    margin-bottom: 9px;
    &:last-child {
  margin-bottom: 0;
 }
}
.address__footer-link {
    display: block;
    justify-content: left;
    font-style: normal;
    text-decoration: none;
    width: 231px;
    height: 21px;
    flex-shrink: 0;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0.42px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
        &:focus {
            color: var(--accent-color);
        }
}

