.header {
@media screen and (max-width:#{768px-0.02}) {
    position: relative;
   
}
    // background-color: var(--main-bg-color);
    // border-bottom: 1px solid #ececec;
}

 .header-container {
    @media screen and (max-width:#{768px-0.02}) {
    display: block;
    }
     // display: flex;
    // align-items: center;
}
 .header-container{
@media screen and (max-width:#{768px-0.02}) {

display: flex;
align-items: center;
justify-content: space-between;


 }
}
.mobile-btn{
@media screen and (max-width:#{768px-0.02}) {
display: inline-flex;
margin: 0;
padding: 0;
 border: none;
background-color:transparent ;

    // position: absolute;
        // top: 8px;
        //  right: 8px;
        //     border-radius: 50%;
        //     border-color: transparent;
        //     background-color: #fff;
    
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        //     padding: 0;
    
        //     width: 40px;
        //     height: 40px;
    
    
        // .mobile-btn:hover path {
        //     fill: var(--accent-color);
        // }
    }
}

//  .mobile-btn .icon-cross {
//      @media screen and (max-width:#{768px-0.02}) {
// display: none;
//      }
//     }
//  .mobile-btn.is-open .icon-cross{
//  @media screen and (max-width:#{768px-0.02}) {
// display: block;
//      }
//     }
//   .mobile-btn.is-open .icon-menu {
// @media screen and (max-width:#{768px-0.02}) {
//    display: none;
//  }
// }


// .menu-conteiner {
//     position: fixed;
//     z-index: 3;
//     top: 0;
//     left: 0;
//     width: 100vw;
//     height: 100vh;
//     padding-top: 40px;
//     padding-left: 40px;
//     padding-right: 40px;
//     padding-bottom: 80px;
//     background-color: var(--main-bg-color);

//     transform: translateX(100%);

//     display: flex;
//     flex-direction: column;

//     &.is-open {
//         // display: block;
//         transform: translateX(0);
//     }
// }

            