.header {
@media screen and (max-width:#{768px-0.02}) {
    position: relative;
   
}
    // background-color: var(--main-bg-color);
    // border-bottom: 1px solid #ececec;
}

 .header-container {
    @media screen and (max-width:#{768px-0.02}) {
    display: block;
    }
     // display: flex;
    // align-items: center;
}
 .header-container{
@media screen and (max-width:#{768px-0.02}) {

display: flex;
align-items: center;
justify-content: space-between;


 }
}
.mobile-btn{
@media screen and (max-width:#{768px-0.02}) {
display: inline-flex;
margin: 0;
padding: 0;
 border: none;
background-color:transparent ;

    // position: absolute;
        // top: 8px;
        //  right: 8px;
        //     border-radius: 50%;
        //     border-color: transparent;
        //     background-color: #fff;
    
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        //     padding: 0;
    
        //     width: 40px;
        //     height: 40px;
    
    
        // .mobile-btn:hover path {
        //     fill: var(--accent-color);
        // }
    }
}

 .mobile-btn .icon-cross {
     @media screen and (max-width:#{768px-0.02}) {
display: none;
     }
    }
 .mobile-btn.is-open .icon-cross{
 @media screen and (max-width:#{768px-0.02}) {
display: block;
     }
    }
  .mobile-btn.is-open .icon-menu {
@media screen and (max-width:#{768px-0.02}) {
   display: none;
 }
}

.menu {
 @media screen and (max-width:#{768px-0.02}) {
display: none;
position: absolute;

    top: 100%;
    left: 0;
    width:480px;
    height: 796px;
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    // column-gap: 30px;
    // width: 480px;
    // height: 796px;
 
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 80px;
    background-color: var(--main-bg-color);


&.is-open {
display: block;
  }
 }
}

.header{
@media screen and (max-width:#{768px-0.02}) {
position: relative;
 }
}
            