.header__list-contact {
@media screen and (min-width: 480px) {
display: none;
}
@media screen and (min-width:768px) {
margin-left: auto;
 display: flex;
 align-items: center;
justify-content: center;
text-decoration: none;
 }
}

.header__group-link {
@media screen and (min-width: 480px) {
display: none;
}
 @media screen and (min-width:768px) {
margin-right: 0;
margin-left: auto;
&:not(:last-child) {
  display: block;
margin-bottom: 10px;
 }
  }
  @media screen and (min-width:1200px) {
    &:not(:last-child) {
      display: block;
    margin-bottom: 0;
     }
   }
  }

.header__link-mail {
@media screen and (min-width: 480px) {
display: none;
}
 @media screen and (min-width:768px) {
  text-decoration: none;
  margin-right: 0;

 font-family: var(--main-font);
 font-weight: 500;
 letter-spacing: 0.02em;
 color: var(--secondary-text-color);
 }
}
 .header__link-phone {
@media screen and (min-width: 480px) {
display: none;
}
 @media screen and (min-width:768px) {
 text-decoration: none;

font-family: var(--main-font);
 font-weight: 500;
letter-spacing: 0.02em;
color: var(--secondary-text-color);
 }
}
 .header__list-contact {
@media screen and (min-width: 480px) {
display: none;
 }
 @media screen and (min-width:768px) {
 margin-left: auto;
 display: flex;
 flex-wrap: wrap;
 }
@media screen and (min-width:1200px) {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content:center ;
 }
}

.header__group-link {
@media screen and (min-width: 480px) {
display: none;
}
@media screen and (min-width:768px) {
display: block;
  }
.header__group-link {
@media screen and (min-width: 1200px) {
display: block;
&:not(:last-child) {
  display: block;
margin-right: 30px;

   }    
  }
 }    
}
.header__link-mail {
@media screen and (min-width: 480px) {
 display: none;
 }
@media screen and (min-width:768px) {
 text-decoration: none;

 font-family: var(--main-font);
 font-weight: 500;
letter-spacing: 0.02em;
color: var(--secondary-text-color);


&-mail:hover,
&-mail:focus {
color: var(--accent-color);
  }
 }
 @media screen and (min-width:1200px) {
  text-decoration: none;

  font-family: var(--main-font);
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  margin-right: 30px;


&-mail:hover,
&-mail:focus {
  color: var(--accent-color);
  }
 }
}
.header__link-phone {
@media screen and (min-width: 480px) {
display: none;
}
@media screen and (min-width:768px) {
text-decoration: none;

font-family: var(--main-font);
font-weight: 500;
letter-spacing: 0.02em;
color: var(--secondary-text-color);
&-phone:hover,
&-phone:focus {
color: var(--accent-color);
}
  }
 @media screen and (min-width:1200px) {
  text-decoration: none;

  font-family: var(--main-font);
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

  &-phone:hover,
  &-phone:focus {
     color: var(--accent-color);
   }
  }
}


