.header {
@media screen and (min-width: 480px) {
// position: relative;
width: 100%;    
background-color: var(--main-bg-color);
 border-bottom: 1px solid #ececec;
 }
@media screen and (min-width: 768px) {
width: 100%;
border-bottom: 1px solid #ececec;
background-color: var(--main-bg-color);
 }
 @media screen and (min-width: 1200px) {
   width: 100%;
   border-bottom: 1px solid #ececec;
   background-color: var(--main-bg-color);
 }
}
 .header-container{
 @media screen  and (min-width: 480px) {
  display: flex;
 align-items: center;
  justify-content: space-between;
}
 
@media screen and (min-width: 768px) {
 width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
padding-left: 15px;
padding-right: 15px;
 }
 @media screen and (min-width: 1200px) {
  width: 1200px;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  align-items: center;
  padding-left: 15px;
 padding-right: 15px;
 }
}

.navigation{
  @media screen  and (min-width: 480px) {
margin-bottom: 50px;
  } 
  @media screen  and (min-width: 768px) {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
      } 
}






    
    

//  .mobile-btn .icon-cross {
//      @media screen and (max-width:#{768px-0.02}) {
// display: none;
//      }
//     }
//  .mobile-btn.is-open .icon-cross{
//  @media screen and (max-width:#{768px-0.02}) {
// display: block;
//      }
//     }
//   .mobile-btn.is-open .icon-menu {
// @media screen and (max-width:#{768px-0.02}) {
//    display: none;
//  }
// }



            