.header__list-contact {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__group-link {
    margin-right: 50px;
}

.header__group-link:last-child {
    margin-right: 0;
}

.header__link-mail {
    text-decoration: none;

    font-family: var(--main-font);
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

.header__link-phone {
    text-decoration: none;

    font-family: var(--main-font);
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

.header__list-contact {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__group-link {
    margin-right: 50px;
}

.header__group-link:last-child {
    margin-right: 0;
}

.header__link-mail {
    text-decoration: none;

    font-family: var(--main-font);
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

.header__link-phone {
    text-decoration: none;

    font-family: var(--main-font);
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

&-mail:hover,
.header__link-mail:focus {
    color: var(--accent-color);
}
&-phone:hover,
.header__link-phone:focus {
    color: var(--accent-color);
}