.our-activity {
    @media screen and (min-width:480px) {
        background: var(--main-bg-color);
        padding-top: 60pSx;
        }
@media screen and (min-width:768px) {
     background: var(--main-bg-color);
    padding-top: 60px;
    }
@media screen and (min-width:1200px) {
    background: var(--main-bg-color);
    padding-top: 94px;
    }
}

.our-activity-icon-list {
    @media screen and (min-width:480px) {
    display: flex;
    align-content: center;
    justify-content: center;
    // width: 1170px;
    }
}
.our-activity__icon-blok {
    @media screen and (min-width:480px) {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        width: 450px;
        height: 120px;
        background: #f5f4fa;
        margin-bottom: 30px;
    }
// display: flex;
// align-items: center;
// justify-content: center;
// border-radius: 4px;
// width: 270px;
// height: 120px;
// background: #f5f4fa;
// margin-bottom: 30px;

// fill: #212121;
}
.our-activity__list-item {
@media screen and (min-width:480px) {
//  display: flex;
}
}
.our-activity__items {
    @media screen and (min-width:480px) {
//   margin-right: 30px;
//    &:last-child {
//   margin-right:0;
//     }
 }
}
.our-activity__detail-item {
 @media screen and (min-width:480px) {

  display: flex;
justify-content: center;
text-align: center;

height: 16px;
font-size: 14px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
    
margin-bottom: 10px;
}
 }
 .our-activity__detail-text {
  @media screen and (min-width:480px) {
    display: flex;
   justify-content: center;

font-size: 14px;
line-height: 1.71;

height: 50px;
flex-shrink: 0;
color: var(--secondary-text-color);
letter-spacing: 0.42px;
 }
}

.our-activity__punctuality-item {
    @media screen and (min-width:480px) {
    display: flex;
        justify-content: center;
        text-align: center;
    
        height: 16px;
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
    
        margin-bottom: 10px;
    }
}

.our-activity__punctuality-text {
    @media screen and (min-width:480px) {
    display: flex;
        justify-content: center;
    
        font-size: 14px;
        line-height: 1.71;
    
        height: 50px;
        flex-shrink: 0;
        color: var(--secondary-text-color);
        letter-spacing: 0.42px;
    }
}

.our-activity__diligence-item {
    @media screen and (min-width:480px) {
    display: flex;
        justify-content: center;
        text-align: center;
    
        height: 16px;
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
    
        margin-bottom: 10px;
    }
}

.our-activity__diligence-text {
    @media screen and (min-width:480px) {
    display: flex;
        justify-content: center;
    
        font-size: 14px;
        line-height: 1.71;
    
        height: 50px;
        flex-shrink: 0;
        color: var(--secondary-text-color);
        letter-spacing: 0.42px;
    }
}

.our-activity__technologie-item {
    @media screen and (min-width:480px) {
    display: flex;
        justify-content: center;
        text-align: center;
    
        height: 16px;
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
    
        margin-bottom: 10px;
    }
}

.our-activity__technologies-text {
    @media screen and (min-width:480px) {
    display: flex;
        justify-content: center;
    
        font-size: 14px;
        line-height: 1.71;
    
        height: 50px;
        flex-shrink: 0;
        color: var(--secondary-text-color);
        letter-spacing: 0.42px;
    }
}

.our-activity-images__title {
    @media screen and (min-width:480px) {
    font-family: var(--main-font);
    text-align: center;

    color: var(--main-text-color);
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;

    margin-bottom: 50px;
    }
}